html {
    height: 100%;
}

body {
    font-family: '游ゴシック体';
    background-color: #e6afcf;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#can {
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.radio-input {
    display: none;
}

.start-head {
    font-size: 4vh;
    margin: auto;
    font-weight: bold;
    color: #67c5ff;
}

#startOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.9);
    z-index: 100;
    text-align: center;
    display: block;
}

.radio-form {
    width: 50vw;
    margin: 1.5vh auto;
    border: solid 0.5vmax #67c5ff;
    background: #fff;
    border-radius: 1vmax;
}

.radio-label {
    width: 40vw;
    height: 12vh;
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    color: #5989cf;
    background: #b1dbff;
    box-shadow: 0 1vh 0 0 #96b9d8;
    transform: translateY(-1vh);
    border-radius: 0.8vmax;
    margin: 2vh auto;
    transition:0.2s all;
}

.radio-label:hover {
    color: #fff;
    background: #6eb7ff;
    box-shadow: 0 1vh 0 0 #3f87ce;
}

.radio-input:checked + .radio-label {
    color: #fff;
    background: #6eb7ff;
    box-shadow: 0 0.3vh 0 0 #3f87ce;
    transform: translateY(-0.3vh);
}

#pauseOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.9);
    z-index: 100;
    text-align: center;
    display: none;
}

#pauseOverlay ul {
    list-style-type: none;
    padding-left: 0;
}

ul span {
    display: inline-block;
    font-size: 4vh;
    font-weight: bold;
    color: #67c5ff;
    min-width: 13vh;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 1.5vh;
    width: 20vw;
    margin: 4vh auto;
    background: #fff;
    border-radius: 0.6vmax;
    border: solid 0.4vh #67c5ff;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #d1edff;
    border: solid 0.8vh #67c5ff;
    width: 4vh;
    height: 4vh; 
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

input[type="file"] {
    display: none;
}

#resultOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.9);
    z-index: 100;
    text-align: center;
    display: none;
    vertical-align: middle;
}

#result-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 90vw;
    height: 75vh;
    border: solid 0.5vmax #67c5ff;
    background: #fff;
    border-radius: 1vmax;
}

#panel-bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#result-score {
    font-size: 8vh;
    margin: 5vh;
}

.result-info {
    font-size: 4vh;
    font-weight: bold;
    line-height: 3vh;
    color: #67c5ff;
}

.btn {
    display: inline-block;
    min-width: 10em;
    margin: 3.5vh 1vw;
    font-size: 4vh;
    padding: 0.5em 0em;
    text-decoration: none;
    font-weight: bold;
    color: #67c5ff;
    border: solid 0.3vmax #67c5ff;
    background: #fff;
    border-radius: 0.6vmax;
    transition: .3s;
}

.btn:hover {
    background: #67c5ff;
    color: white;
}

.select-file {
    -webkit-appearance: none;
    appearance: none;
    height: 6vh;
    width: 25vw;
    padding-left: 1vw;
    font-size: 3vh;
    font-weight: bold;
    color: #fff;
    border-radius: 6vh;
    border: solid 0.2vmax #fff;
    background-color: inherit;
    outline: none;
    cursor: pointer;
}

.select-file option {
    background-color: skyblue;
}

.select-container::before {
    position: absolute;
    top: 5.5vh;
    right: 8.5vw;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 1vh solid transparent;
    border-right: 1vh solid transparent;
    border-top: 1vh solid #fff;
}

.upload-file {
    -webkit-appearance: none;
    appearance: none;
    height: 5.2vh;
    width: 24.5vw;
    font-size: 3vh;
    font-weight: bold;
    color: #fff;
    border-radius: 6vh;
    border: solid 0.2vmax #fff;
    background-color: inherit;
    outline: none;
    cursor: pointer;
}

.upload-file p {
    margin-top: 0.5vh;
}

#info {
    position: absolute;
    left: 4vw;
    font-size: 5vh;
    font-weight: bold;
    color: #fff;
}
