html {
  height: 100%;
}

body {
  text-align: center;
  font-family: '游ゴシック体';
  font-weight: bold;
  background-color: #f6f7d7;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.column {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #67c5ff;
  font-size: 11vw;
  margin: 0;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  text-align: center;
  display: inline-block;
  font-size: 4vmin;
  font-weight: bold;
  color: #67c5ff;
  text-decoration: none;
  border: solid 0.5vh #67c5ff;
  border-radius: 3vh;
  background: #fff;
  min-width: 10em;
  margin: 0 2vmin;
  margin-top: 4vmin;
  padding: 0.5em;
  transition: .3s;
  cursor: pointer;
}

.btn:hover {
  background: #67c5ff;
  color: white;
}

#Overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(100, 100, 100, 0.3);
  z-index: 100;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
}

#panel-top span {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #67c5ff;
  min-width: 3em;
}

#panel {
  width: 80vw;
  height: 80vh;
  border: solid 1vmin #67c5ff;
  background: #fff;
  border-radius: 8vmin;
  display: flex;
  flex-direction: column;
}

#panel-top {
  font-weight: bold;
  color: #67c5ff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#panel-bottom .btn {
  margin-bottom: 1em;
  margin-top: 0.5em;
  min-width: 8em;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 1.5vh;
  width: 20vmax;
  margin: 0;
  background: #fff;
  border-radius: 1vh;
  border: solid 0.4vh #67c5ff;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #d1edff;
  border: solid 0.8vh #67c5ff;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: #d1edff;
  border: solid 0.8vh #67c5ff;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

.key-config {
  display: inline-block;
  min-width: 1.5em;
  height: 1.5em;
  margin: 0.5em 0.5em;
  padding: 0 0.3em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 0.5vh #67c5ff;
  background: #fff;
  border-radius: 1vh;
  transition: .3s;
}

.key-config:hover {
  background: #67c5ff;
  color: white;
}

.lane span {
  margin-left: 1em;
}

.lane div:last-child {
  width: 100%;
}

.lane {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.range {
  align-items: center;
  justify-content: space-around;
}

.range span {
  min-width: 5em!important;
}
