html {
    height: 100%;
}

h1 {
    color: #67c5ff;
    font-size: 10vw;
    vertical-align: middle;
    margin-top: 30vh;
    margin-bottom: 5vh;
}

body {
    text-align: center;
    font-family: '游ゴシック体';
    font-weight: bold;
    background-color: #f6f7d7;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.btn {
    display: inline-block;
    min-width: 10em;
    margin: 3vh 4vw;
    font-size: 4vh;
    padding: 0.5em 0em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 0.3vmax #67c5ff;
    background: #fff;
    border-radius: 0.6vmax;
    transition: .3s;
}

.btn:hover {
    background: #67c5ff;
    color: white;
}
